In [170]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

In [150]:
matches = pd.read_csv('matches.csv', index_col = 0)

In [151]:
matches.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,dist,sh,sot,fk,pk,pkatt,season,team
0,2024-08-17,12:30,Premier League,Matchweek 1,Sat,Away,W,2.0,0.0,Ipswich Town,...,Match Report,NaN,14.8,18.0,5.0,0.0,0,0,2025,Liverpool
1,2024-08-25,16:30,Premier League,Matchweek 2,Sun,Home,W,2.0,0.0,Brentford,...,Match Report,NaN,13.6,19.0,8.0,1.0,0,0,2025,Liverpool
2,2024-09-01,16:00,Premier League,Matchweek 3,Sun,Away,W,3.0,0.0,Manchester Utd,...,Match Report,NaN,13.4,11.0,3.0,0.0,0,0,2025,Liverpool
3,2024-09-14,15:00,Premier League,Matchweek 4,Sat,Home,L,0.0,1.0,Nott'ham Forest,...,Match Report,NaN,14.9,14.0,5.0,0.0,0,0,2025,Liverpool
5,2024-09-21,15:00,Premier League,Matchweek 5,Sat,Home,W,3.0,0.0,Bournemouth,...,Match Report,NaN,16.6,19.0,12.0,0.0,0,0,2025,Liverpool

In [152]:
matches.shape

(2400, 28)

In [153]:
matches.team.value_counts()

team
Liverpool                   120
Brighton and Hove Albion    120
Wolverhampton Wanderers     120
Crystal Palace              120
Everton                     120
Manchester City             120
Manchester United           120
Brentford                   120
West Ham United             120
Chelsea                     120
Tottenham Hotspur           120
Newcastle United            120
Arsenal                     120
Aston Villa                 120
Bournemouth                  82
Southampton                  82
Nottingham Forest            82
Leicester City               82
Fulham                       82
Burnley                      76
Leeds United                 76
Luton Town                   38
Sheffield United             38
Watford                      38
Norwich City                 38
Ipswich Town                  6
Name: count, dtype: int64

In [154]:
matches.dtypes

date              object
time              object
comp              object
round             object
day               object
venue             object
result            object
gf               float64
ga               float64
opponent          object
xg               float64
xga              float64
poss             float64
attendance       float64
captain           object
formation         object
opp formation     object
referee           object
match report      object
notes            float64
dist             float64
sh               float64
sot              float64
fk               float64
pk                 int64
pkatt              int64
season             int64
team              object
dtype: object

In [155]:
matches.date = pd.to_datetime(matches.date)

In [156]:
matches.dtypes

date             datetime64[ns]
time                     object
comp                     object
round                    object
day                      object
venue                    object
result                   object
gf                      float64
ga                      float64
opponent                 object
xg                      float64
xga                     float64
poss                    float64
attendance              float64
captain                  object
formation                object
opp formation            object
referee                  object
match report             object
notes                   float64
dist                    float64
sh                      float64
sot                     float64
fk                      float64
pk                        int64
pkatt                     int64
season                    int64
team                     object
dtype: object

In [157]:
matches['venue'] = matches['venue'].astype('category').cat.codes

In [158]:
matches['hour'] = matches['time'].str.replace(':[0-6][0-9]', '', regex = True).astype(int)

In [159]:
matches['day'] = matches['date'].dt.dayofweek

In [160]:
matches['target'] = matches['result'].astype('category').cat.codes

In [161]:
team_cols = ['team', 'opponent', 'formation', 'opp formation']
team_list = []
for col in team_cols:
    matches[col] = matches[col].astype('category')
    team_list.append(dict(enumerate(matches[col].cat.categories)))
    matches[col] = matches[col].cat.codes
for idx, name in enumerate(team_cols):
    print(name)
    print(team_list[idx])

team
{0: 'Arsenal', 1: 'Aston Villa', 2: 'Bournemouth', 3: 'Brentford', 4: 'Brighton and Hove Albion', 5: 'Burnley', 6: 'Chelsea', 7: 'Crystal Palace', 8: 'Everton', 9: 'Fulham', 10: 'Ipswich Town', 11: 'Leeds United', 12: 'Leicester City', 13: 'Liverpool', 14: 'Luton Town', 15: 'Manchester City', 16: 'Manchester United', 17: 'Newcastle United', 18: 'Norwich City', 19: 'Nottingham Forest', 20: 'Sheffield United', 21: 'Southampton', 22: 'Tottenham Hotspur', 23: 'Watford', 24: 'West Ham United', 25: 'Wolverhampton Wanderers'}
opponent
{0: 'Arsenal', 1: 'Aston Villa', 2: 'Bournemouth', 3: 'Brentford', 4: 'Brighton', 5: 'Burnley', 6: 'Chelsea', 7: 'Crystal Palace', 8: 'Everton', 9: 'Fulham', 10: 'Ipswich Town', 11: 'Leeds United', 12: 'Leicester City', 13: 'Liverpool', 14: 'Luton Town', 15: 'Manchester City', 16: 'Manchester Utd', 17: 'Newcastle Utd', 18: 'Norwich City', 19: "Nott'ham Forest", 20: 'Sheffield Utd', 21: 'Southampton', 22: 'Tottenham', 23: 'Watford', 24: 'West Ham', 25: 'Wolves'}
formation
{0: '3-1-4-2', 1: '3-2-4-1', 2: '3-3-3-1', 3: '3-4-1-2', 4: '3-4-3', 5: '3-4-3â—†', 6: '3-5-1-1', 7: '3-5-2', 8: '4-1-2-1-2â—†', 9: '4-1-4-1', 10: '4-2-2-2', 11: '4-2-3-1', 12: '4-2-4-0', 13: '4-3-1-2', 14: '4-3-2-1', 15: '4-3-3', 16: '4-4-1-1', 17: '4-4-2', 18: '4-5-1', 19: '5-3-2', 20: '5-4-1'}
opp formation
{0: '3-1-4-2', 1: '3-2-4-1', 2: '3-3-3-1', 3: '3-4-1-2', 4: '3-4-3', 5: '3-5-1-1', 6: '3-5-2', 7: '4-1-2-1-2', 8: '4-1-4-1', 9: '4-2-2-2', 10: '4-2-3-1', 11: '4-2-4-0', 12: '4-3-1-2', 13: '4-3-2-1', 14: '4-3-3', 15: '4-4-1-1', 16: '4-4-2', 17: '4-5-1', 18: '5-3-2', 19: '5-4-1'}

In [162]:
matches['round'] = matches['round'].astype('category').cat.codes

In [163]:
team_codes_list = team_list[0]

In [164]:
opponent_codes_list = team_list[1]

In [165]:
formation_codes_list = team_list[2]

In [166]:
opp_formation_codes_list = team_list[3]

In [167]:
matches = matches.drop(columns = ['time', 'result', 'comp', 'captain', 'referee', 'match report'])

In [168]:
matches.dtypes

date             datetime64[ns]
round                      int8
day                       int32
venue                      int8
gf                      float64
ga                      float64
opponent                   int8
xg                      float64
xga                     float64
poss                    float64
attendance              float64
formation                  int8
opp formation              int8
notes                   float64
dist                    float64
sh                      float64
sot                     float64
fk                      float64
pk                        int64
pkatt                     int64
season                    int64
team                       int8
hour                      int64
target                     int8
dtype: object

In [169]:
matches.head()

,date,round,day,venue,gf,ga,opponent,xg,xga,poss,...,dist,sh,sot,fk,pk,pkatt,season,team,hour,target
0,2024-08-17,0,5,0,2.0,0.0,10,2.6,0.5,62.0,...,14.8,18.0,5.0,0.0,0,0,2025,13,12,2
1,2024-08-25,11,6,1,2.0,0.0,3,2.5,0.5,62.0,...,13.6,19.0,8.0,1.0,0,0,2025,13,16,2
2,2024-09-01,22,6,0,3.0,0.0,16,1.8,1.4,47.0,...,13.4,11.0,3.0,0.0,0,0,2025,13,16,2
3,2024-09-14,32,5,1,0.0,1.0,19,0.9,0.4,68.0,...,14.9,14.0,5.0,0.0,0,0,2025,13,15,1
5,2024-09-21,33,5,1,3.0,0.0,2,2.0,1.1,58.0,...,16.6,19.0,12.0,0.0,0,0,2025,13,15,2

In [171]:
rf = RandomForestClassifier(n_estimators = 50, min_samples_split = 10, random_state = 0)

In [172]:
train = matches[matches['date'] <= '2024-01-01']

In [173]:
test = matches[matches['date'] > '2024-01-01']

In [344]:
matches_new = matches.copy()
matches_new['matchup'] = matches_new.apply(
lambda x: f"{min([x['team'], x['opponent']])} vs {max([x['team'], x['opponent']])}", 
axis=1)
matchup_codes_list = []
matches_new['matchup'] = matches_new['matchup'].astype('category')
matchup_list.append(dict(enumerate(matches_new['matchup'].cat.categories)))
matches_new['matchup'] = matches_new['matchup'].cat.codes
matches_new = matches_new.sort_values(by=['matchup', 'date']).reset_index(drop=True)
matches_new['rolling_avg'] = matches_new.groupby('team')['gf'].transform(lambda x: x.rolling(window=3, closed = 'left', min_periods=1).mean())

In [345]:
matches_new.head(10)

,date,round,day,venue,gf,ga,opponent,xg,xga,poss,...,sot,fk,pk,pkatt,season,team,hour,target,matchup,rolling_avg
0,2021-10-22,37,4,1,3.0,1.0,1,2.7,1.4,53.0,...,8.0,1.0,0,1,2022,0,20,2,0,NaN
1,2021-10-22,37,4,0,1.0,3.0,0,1.4,2.7,47.0,...,4.0,1.0,0,0,2022,1,20,1,0,NaN
2,2022-03-19,23,5,0,1.0,0.0,1,1.3,0.5,53.0,...,3.0,0.0,0,0,2022,0,12,2,0,3.000000
3,2022-03-19,23,5,1,0.0,1.0,0,0.5,1.3,47.0,...,1.0,2.0,0,0,2022,1,12,1,0,1.000000
4,2022-08-31,33,2,1,2.0,1.0,1,2.4,0.4,59.0,...,8.0,1.0,0,0,2023,0,19,2,0,2.000000
5,2022-08-31,33,2,0,1.0,2.0,0,0.4,2.4,41.0,...,3.0,0.0,0,0,2023,1,19,1,0,0.500000
6,2023-02-18,16,5,0,4.0,2.0,1,3.2,0.5,67.0,...,5.0,0.0,0,0,2023,0,12,2,0,2.000000
7,2023-02-18,16,5,1,2.0,4.0,0,0.5,3.2,33.0,...,5.0,1.0,0,0,2023,1,12,1,0,0.666667
8,2023-12-09,7,5,0,0.0,1.0,1,1.4,0.6,61.0,...,3.0,1.0,0,0,2024,0,17,1,0,2.333333
9,2023-12-09,7,5,1,1.0,0.0,0,0.6,1.4,39.0,...,3.0,1.0,0,0,2024,1,17,2,0,1.000000

In [295]:
matches_new['team'].unique()

array([ 0,  1, 11, 12, 13, 14, 15, 16, 17, 18, 19,  2, 20, 21, 22, 23, 24,
       25,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int8)

In [187]:
grouped_matches = pd.DataFrame(matches.groupby('team'))

In [189]:
grouped_again = pd.DataFrame(matches.groupby(['team', 'opponent']))

In [191]:
grouped_again.head()

        0                                                  1
0  (0, 1)           date  round  day  venue   gf   ga  op...
1  (0, 2)           date  round  day  venue   gf   ga  op...
2  (0, 3)           date  round  day  venue   gf   ga  op...
3  (0, 4)           date  round  day  venue   gf   ga  op...
4  (0, 5)           date  round  day  venue   gf   ga  op...

In [183]:
def rolling_averages(group, cols, new_cols):
    group = group.sort_values('date')
    rolling_data = group[cols].rolling(3, closed = 'left').mean()
    group[new_cols] = rolling_data
    group = group.dropna(subset = new_cols)
    return group

In [ ]:
def rolling_averages_vs_opponent(matches, cols, new_cols):
    matches_new = matches.copy()
    matches_new['matchup'] = matches_new.apply(
    lambda x: f"{min([x['team'], x['opponent']])} vs {max([x['team'], x['opponent']])}", 
    axis=1)
    matchup_codes_list = []
    matches_new['matchup'] = matches_new['matchup'].astype('category')
    matchup_list.append(dict(enumerate(matches_new['matchup'].cat.categories)))
    matches_new['matchup'] = matches_new['matchup'].cat.codes
    print(matchup_codes_list)
    matches_new = matches_new.sort_values(by=['matchup','date'])
    rolling_data = matches_new[cols]